/* ===== STUDIO-SPECIFIC CSS ===================================== */

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh !important;
  overflow: hidden !important;
}

[data-sanity-root] {
  height: 100vh !important;
  overflow: hidden !important;
}
